doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Tienda Enebo
    link(rel='icon' href='http://localhost:3000/img/images_pagina/logo-JP-icon.png')
    link(rel="stylesheet", href="/css/styles.css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
  body
  header#header.header
    .header__menu-container
      .header__principal-logo
        a(href='/')
          img.logo-pagina-image(src='http://localhost:3000/img/images_pagina/logo-pagina.png')
      .header__session
        if user 
          a.header__session-link #{user.name}
          p |
          a.header__session-link(href='/login/cerrarSesion') Cerrar Sesi&oacute;n
    main.banner
      h1 ¡FELICIDADES, #{user.name} ERES ADMINISTRADOR!
