*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    background-color: #fef1ef;
}
div{
    border: 1px solid #0f0;
}
.logo-pagina-image{
    width: 200px;
}
.header__menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020019;
    position: sticky;
    top: 0;
    max-width: 100vw;
}
.header__principal-logo{
    margin-left: 20px;
    padding-top: 10px;
}
/* --------------- CARRITO ---------------- */
.carrito-image{
    width: 30px;
}
.header__carrito{
    color: #fff;
    padding: 10px;
    text-align: right;
    position: relative;
    margin-left: 700px;
}
.header__carrito button{
    background-color: transparent;
    border: none;
}
.header__carrito span{
    background-color: #d9053f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 2px 6px;
}

.header__session{
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: #fff;
}
.header__session a{
    padding: 20px;
    text-decoration: none;
    color: #d9053f;
}
.header__session a:hover{
    background-color: #d9053fbb;
    border-radius: 80px;
    color: #fff;
}
/* TABLA DE ANUNCIOS */
.tabla-anuncios img{
    max-width: 98.7vw;
}

/* MENÚ DE NAVEGACIÓN */

.header__menu-categori-container{
    background-color: #fef1ef;
    position: sticky;
    top: 0;
}
.menu-list{
    display: flex;
    justify-content: space-evenly;

}
.recomendados-svg{
    width: 50px;
}
.menu-item{
    list-style: none;
}
/* PRODUCTOS */
.producto{
    display: flex;
}
.ficha{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.ficha img{
    width: 300px;
}
/* MODAL PRODUCTO */

.modal-producto{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #d9053f55;

}
.modal-content{
    background-color: #fef1ef;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 #0002;
}
.modal-close{
    color: #ccc;
    float: right;
    font-size: 30px;

}
.modal-close:hover, .modal-close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}