*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #020019;
}
header{
    background-color: #020019;
}
div{
    
}
.session__container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
/* Mensaje de bienvenida */
.mensaje-inicio{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    color: #fdf0ee;
    text-wrap: balance;
    font-size: 40px;
}
/* FORMULARIO */
.formulario{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 25px;
    margin-right: 100px;
    border-radius: 50px;
    background-color: #fdf0ee;
    color: #020019;
    box-shadow: 0 0 7px 0px #020019;
}

.form-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.raya__inicio-sesion{
    width: 100%;
    border: 1px solid #d9053f;
    border-radius: 20px;
    margin: 10px 0;
}
.input{
    border: 5px;
    border: none;
    padding: 5px;
    background-color: transparent;
    color: #d9053f;
    margin: 10px 0;
}

.btn_submit{
    background-color: transparent;
    font-size: 20px;
    border: none;
    color:#020019 ;
    padding: 10px;
}
.btn_submit:hover{
    background-color: #d9053f;
    border-radius: 20px;
    color: #fdf0ee;
}
.form-list a{
    text-decoration: none;
}
.form-list a:link{
    color: #d9053f;
}
.form-list a:visited{
    color: #fa0f9b;
}
.form-list a:hover{
    color: #5ebe73;
}